<%= render :partial => "/trackers/form.html.erb"%>
<p id="notice"><%= notice %></p>

<h1>Listing Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Ticket ID</th>
      <th>Ticket Owner</th>
      <th>Created</th>
      <th>ETA</th>
      <th>Finished</th>
      <th>Type of Work</th>
      <th>No. of Commits</th>
      <th>Staging</th>
      <th>Completed</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trackers.each do |tracker| %>
      <tr>
        <td ><a href="https://bankbazaarmail.zendesk.com/agent/tickets/<%= tracker.ticket_id%>"><%= tracker.ticket_id%></a></td>
        <td ><%= best_in_place tracker, :owner, :inner_class => "tdfield" %></td>
        <td ><%= best_in_place tracker, :created, :inner_class => "tdfield" %></td>
        <td ><%= best_in_place tracker, :eta, :inner_class => "tdfield"%></td>
        <td ><%= best_in_place tracker, :finished, :inner_class => "tdfield"%></td>
        <td ><%=  best_in_place tracker, :tow, :inner_class => "tdfield"%></td>
        <td ><%= best_in_place tracker, :noc, :inner_class => "tdfield"%></td>
        <td ><%= best_in_place tracker, :staging, :inner_class => "tdfield"%></td>
        <td ><%= tracker.comp %></td>
        <td ><%= best_in_place tracker, :disc, :as => :textarea%></td>
        <!-- <td><%#= link_to 'Show', tracker %></td>
        <td><%#= link_to 'Edit', edit_tracker_path(tracker) %></td> -->
        <td><%= link_to 'Destroy', tracker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Tracker', new_tracker_path %>
